// define map options
var zoom = {settings.zoom};
var mapTypeId = {settings.mapTypeId};
var panControl = {settings.panControl};
var zoomControl = {settings.zoomControl};
var mapTypeControl = {settings.mapTypeControl};
var scaleControl = {settings.scaleControl};
var streetViewControl = {settings.streetViewControl};
var overviewMapControl = {settings.overviewMapControl};

// define map options
var infoWindow = new Array();
var infoWindowIsOpen = new Array();

// define design vars
var strokeColor = "{extConf.strokeColor}";
var strokeOpacity = {extConf.strokeOpacity};
var strokeWeight = {extConf.strokeWeight};
var fillColor = "{extConf.fillColor}";
var fillOpacity = {extConf.fillOpacity};

// define location
<f:if condition="{poiCollection}">
	<f:then>
		var latitude = {poiCollection.latitude};
		var longitude = {poiCollection.longitude};

		jQuery(document).ready(function() {
			/* <![CDATA[ */
			var mapPosition = new google.maps.LatLng(latitude, longitude);
			var mapOptions = {
				center: mapPosition,
				zoom: zoom,
				mapTypeId: mapTypeId,
				panControl: panControl,
				zoomControl: zoomControl,
				mapTypeControl: mapTypeControl,
				scaleControl: scaleControl,
				streetViewControl: streetViewControl,
				overviewMapControl: overviewMapControl
			};
			/* ]]> */

			var map_{contentUid} = new google.maps.Map(document.getElementById("maps2-{contentUid}"), mapOptions);

			<f:render partial="JavaScript/Types/{poiCollection.collectionType}" arguments="{poiCollection: poiCollection, bound: 0, contentUid: contentUid}" />
		});
	</f:then>
	<f:else>
		var bounds_{contentUid} = new google.maps.LatLngBounds();

		jQuery(document).ready(function() {
			/* <![CDATA[ */
			var mapOptions = {
				zoom: zoom,
				mapTypeId: mapTypeId,
				panControl: panControl,
				zoomControl: zoomControl,
				mapTypeControl: mapTypeControl,
				scaleControl: scaleControl,
				streetViewControl: streetViewControl,
				overviewMapControl: overviewMapControl
			};
			/* ]]> */

			var map_{contentUid} = new google.maps.Map(document.getElementById("maps2-{contentUid}"), mapOptions);
			<f:for each="{poiCollections}" as="poiCollection">
				<f:render partial="JavaScript/Types/{poiCollection.collectionType}" arguments="{poiCollection: poiCollection, bound: 1, contentUid: contentUid}" />
			</f:for>

			map_{contentUid}.fitBounds(bounds_{contentUid});
		});
	</f:else>
</f:if>